table, th, td {
   border: 2px solid slategrey;
   border-collapse: collapse;
   text-align: center;
   padding: 5px;
   color: orange;
   padding-left: 10px;
   margin-left: 10px;
}
td, caption, th {
   text-align: center;
}

caption {
	text-align:center;
}

th {height: 60px;}

tr:nth-child(odd) {background-color: darkslategray;}

h1, h2, h3, h4, h5, h6{
   color: orange;
   padding-left: 10px;
}

b, dl, dd, dt, li, ol, p, pre, ul {
   color: orange;
   padding-left: 10px;
}

a:link {
	color: orange;
	text-decoration: underline;
}
a:visited {
	color: darkorange;
}

body {
	background-color: black	;

}

iframe {
	height:750px;
	width:100%;
	border:none;
}

input[type=button], input[type=submit], input[type=reset] {
   color: darkblue;
   border-radius: 12px;
}